* {
    font-family: "Inter", sans-serif;
}

.h-font {
    font-family: "Playfair Display", serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.vr-btn-primary-bg {
    background-color: #0d9488;
    color: #fff;
    border-radius: 12px;
    padding: 12px 22px;
    font-weight: 600;
    border: none;
}

.vr-btn-primary-bg:hover {
    background: #0F766E;
}

.vr-btn-secondary-bg {
    background-color: #ccfbf1;
    color: #0d9488;
    border-radius: 12px;
    padding: 12px 22px;
    font-weight: 600;
    border: none;
}

.vr-btn-secondary-bg:hover {
    background: #99F6E4;
}

.vr-badge {
    background-color: #ccfbf1;
    color: #0f766e;
    border-radius: 999px;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin: 4px 6px 4px 0;
}

.vr-card {
    border-radius: 20px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 30px 60px rgba(15, 118, 110, 0.15);
    border: 1px solid #ccfbf1;
}

.h-line {
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}